#quizlet .example-terminal {
  width: 95%;
  height: 50%;
  margin: auto;
  background-color: black;
  border: 2px solid white;
}

#quizlet .example-terminal .example-text {
  color: white;
  font-size: 1.6em;
  font-family: 'Space Mono';
  text-align: left;
  padding: 20px;
}
